@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.password-updated-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    padding: 0 20px;
    text-align: center;
    margin-top: -50px; /* Adjust positioning */
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.5rem;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
}

.icon {
    font-size: 6rem !important; /* Force the icon to respect this size */
    color: #000 !important; /* Ensure the color is black */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper {
    font-size: 100px; /* Set a larger font size for the icon wrapper */
    color: #000; /* Make the color black */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.icon-wrapper i {
    font-size: inherit; /* Ensure the icon inherits the font size from the wrapper */
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

p {
    color: #666;
    font-size: 0.875rem;
    margin-bottom: 20px;
}

.login-button {
    width: 100%;
    max-width: 400px;
    padding: 12px;
    background-color: #5DB075;
    border-color: #5DB075;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 20px;
    text-align: center;
}
