<div class="password-updated-container">
    <button class="back-button" routerLink="/new-password">
        <span>&larr;</span>
    </button>
    
    <div class="icon-wrapper">
        <i class="pi pi-check-circle"></i> <!-- PrimeIcons check icon -->
    </div>
    
    <h2>Password Updated</h2>
    <p>Your password has been updated!</p>
    
    <!-- Login button, navigates to login page -->
    <button pButton label="Login" class="p-button-rounded p-button-success login-button" routerLink="/login"></button>
</div>
