<div class="new-password-container">
    <button class="back-button" routerLink="/code-verification"> <!-- Back button to Code Verification page -->
        <span>&larr;</span>
    </button>
    <h2>Enter Your New Password</h2>
    <p>Your identity has been verified!</p>
    
    <div class="form-group">
        <label for="new-password">New Password</label>
        <input 
            pInputText
            id="new-password" 
            placeholder="New Password"
            [(ngModel)]="newPassword"
            type="password"
        />
    </div>

    <div class="form-group">
        <label for="verify-password">Verify Password</label>
        <input 
            pInputText
            id="verify-password" 
            placeholder="Verify Password"
            [(ngModel)]="verifyPassword"
            type="password"
        />
    </div>
    
    <button pButton label="Update" class="p-button-rounded p-button-success update-button" routerLink="/password-updated"></button>
</div>
