<div class="container">
    <!-- Top Bar -->
    <div class="top-bar">
        <button class="back-button" [routerLink]="['/user-submit-p3']">
            <i class="pi pi-arrow-left"></i>
        </button>
        <h1></h1>
    </div>

    <!-- Main Content -->
    <div class="content">
        <div class="thank-you-message">
            <h2>THANK YOU</h2>
            <div class="checkmark-icon">
                <i class="pi pi-check-circle"></i>
            </div>
            <p>WE APPRECIATE YOUR FEEDBACK!</p>
        </div>

        <!-- Exit Button -->
        <div class="button-container">
            <button [routerLink]="['/user-start']">Exit</button>
        </div>
    </div>
</div>
