<div class="forgot-password-container">
    <button class="back-button" routerLink="/login"> <!-- Back button to Login page -->
        <span>&larr;</span>
    </button>
    <h2>Forgot Password?</h2>
    <p>Enter the email that you used to register your account</p>
    
    <div class="form-group">
        <label for="email">Email</label>
        <input 
            pInputText
            id="email" 
            placeholder="Email"
            [(ngModel)]="email"
            type="email"
        />
    </div>
    
    <button pButton label="Reset" class="p-button-rounded p-button-success reset-button" routerLink="/code-verification"></button>
</div>
